@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway/Raleway-Medium.ttf');
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color:  rgb(16, 16, 29);
}
.navbar {
    display: flex;
    width: 100%;
    padding: 10px;
    background: #F4F9F9;
}
.bar1 {
    width: 30%;
    padding: 0px 40px;
}
.bar2 {    
    list-style-type: none;
    margin: 0px;
    display: flex;
    justify-content:space-evenly;
    width: 70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bar2 > li {
    cursor: pointer;
    padding: 15px 30px;
    font-size: 17px;
    align-items: center;
   
}
li > a{
    text-decoration: none;
   
}
.Registor {
    border: 2px solid black;
    border-radius: 25px;
}
.container1 {
    background-image: url(../svg/1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 567px;
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
}
.hacker {
   flex: 50%;
    padding:200px 100px ;
    line-height: 50px;
    font-size: 20px;
}
.Registor_button {
    border: 2px solid black;
    border-radius: 30px;
    padding:10px 25px ;
    text-decoration: none;
    color: black;
}
.chair {
    flex:50%;
    padding-top: 217px;
}
.container2 {
    width: 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 850px;
}
.laptop{
    flex: 55%;
}
.laptop_image{
    width: 100%;
    height: 850px;
}
.container2_text {
    flex: 45%;
    padding: 265px 140px;
    word-spacing: 3px;
    line-height: 23px;
    font-size: 15px;
}
.demo {
    height: 850px;
    width: 100%;
    background-color: rgb(247, 247, 247);
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    position: relative;
    word-spacing: 3px;
}
.Demo_heading{
    text-align: center;
}
.Learn{
    text-align: center;
    color: rgb(22, 22, 70);
}
.application{
    position: absolute;
    top: 260px;
    left: 140px;
}
.application_image{
    border-radius: 25px;
    width: 1240px;
    height: 700px;
}
.container3 {
    height: 1050px;
    width: 100%;
    background-color: #161B40;
    padding-top: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Features {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: white;
}
.Agile {
    text-align: center;
    color: white;
    font-weight:100;
    line-height: 30px;
    padding: 0px 200px;
}
.container4{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.expert_guidance{
    padding: 30px 40px;
    width: 25%;
}
.heading1, .para1 {
    color: white;
    text-align: center;
    font-weight: 300;
}
.para1 {
    font-size: 14px;
    word-spacing: 3px;
}
.image1{
    padding-left: 100px;
}
.container5 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.leaderboard1 {
    width: 285px;
    margin-left: 415px;
}
.leaderboard2 {
    width: 280px;
    margin-right: 414px;
}
.image2 {
    padding-left: 100px;
}
.image3 {
    padding-left: 95px;
}
.heading2, .para2{
    color: white;
    text-align: center;
    font-weight: 300;
}
.container6 {
    height: 739px;
    width: 100%;
    background-color:  #F4F8F8;
    padding: 42px 20px 75px;
}
.people {
    font-family: Raleway;
    font-weight: bold;
    margin: auto;
    /* font-family:  Verdana, Geneva, Tahoma, sans-serif; */
    width: 408px;
    
    font-size: 48px;
    line-height: 64px;
    
}
.container7 {
    display: flex;
    padding: 100px 0px 75px;
    align-items: center;
    justify-content: center;
    
}
.container8 {
    display: flex;
    width: 1008px;
    margin: 0 22px;
    justify-content: space-between;
}
.arrow{
    width: 56px;
    height: 56px;
    background: #FEFFFF;
   
}
.arrow1 {
    width: 56px;
    height: 56px;
    background-color:  #161B40;
}
.curly {
    padding: 20px;
    width: 56px;
}
.position{
    width: 296px;
    height: 404px;
    background: #FEFFFF;
    padding: 0px 24px 32px;
    box-shadow: 10px 10px 10px lightgrey;
    
}
.Jayson {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #283646;
    margin-bottom: 8px;
}
.Designer {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #A2A9B0;
    margin-bottom: 19px;
}
.Lorem{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: justify;
    color: #4F5A68;
}
.image4 {
    position: relative;
    top: -30px;
    left: 0px;
}
.container9 {
    width: 100%;
    height: 1045px;
    background: #161B40;
    padding: 46px 104px 58px;
    font-family: 'Roboto', sans-serif;
    
}
.Mentor {
    width: 207px;
    margin: auto;
    height: 58px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.container10 {
    padding: 34px 0px 0px;
    display: flex;
    height: 320px;
    justify-content: space-evenly;
}
.clay {
    height: 286px;
    margin-right: 108px;
}
.image5 {
    height: 210px;
    width: 210px;
}
.johnson {
    
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FEFFFF;
}
.Buisness {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #8C949D;
}
.container11 {
    width: 639px;
    height: 286px;
    font-style: normal;
    font-weight:300;
    font-size: 17px;
    line-height: 32px;
    text-align: justify;
    letter-spacing: 0.005em;
    
}
.dolor {
    color: #E6E9EB;
}
.container12 {
    display: flex;
    justify-content: space-around;
    padding: 66px 125px 95px;
}
.image6 {
    width: 167px;
    height: 167px;
}
.jane {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    color: #FEFFFF;
}
.Our_Mentor {
    height: 58px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.container14 {
    display: flex;
    padding: 27px 0px 58px;
    justify-content: space-between;
}
.container15 {
    background-image: url(../PNG/14.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1148px;
    padding: 48px 108px 70px;
}
.Register {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #161B40;
    padding-bottom: 13px;
}
.fill {
    width: 452px;
    height: 63px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #161B40;
}
.fill1 {
    width: 452px;
    height: 19px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #161B40;
}
.email {
    width: 169px;
    height: 22px;
    font-family: Railway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #2EA3F2;
}
b {
    color: red;
}
form {
    padding: 42px 0px 0px;
}
label {
    width: 48px;
    height: 21px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #161B40;
    margin-bottom: 5px;
}
input {
    width: 465px;
    height: 36px;
    border: 1px solid #161B40;
    box-sizing: border-box;
    border-radius: 2.4px;
    margin-bottom: 13px;
}
.GDPR {
    width: 133px;
    height: 33px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #161B40;
}
.we_will {
    width: 457px;
    height: 41px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #161B40;
    text-align: justify;
} 
.privacy {
    margin-left: 10px;
    font-weight: 300;
    width: 86px;
    height: 21px;
    color: #2EA3F2;
}
.by_submitting {
    margin-top: 20px;
    width: 463px;
    height: 41px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #161B40;
    text-align: justify;
    margin-bottom: 14px;
}
.submit {
    width: 99px;
    height: 38px;    
    border: 2px solid #161B40;
    box-sizing: border-box;
    border-radius: 21.9619px;
    text-align:center;
    padding:8px 20px;
    text-decoration: none;
    letter-spacing: 1px;
    color: #333333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}
.container16 {
    background-color: #161B40;
    width: 100%;
    height: 71px;
}
.last_bar {
    width: 188px;
    height: 24px;
    margin-top: 28px;
    margin-left: 675px;
}